MONGO_URI=mongodb+srv://hprabha8499_db_user:Hareesh@cluster0.dwenzgr.mongodb.net/fastcoach?retryWrites=true&w=majority
JWT_SECRET=anylongrandomstringhere_change_this_1234567890
PORT=5000
CLIENT_ORIGIN=https://diet-2-1.onrender.com
ADMIN_NAME=Vineeth
ADMIN_EMAIL=hprabha585@gmail.com
ADMIN_PASSWORD=Hareesh143@
